@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@using WhatsIn.Web.Controllers
@using WhatsIn.Application.Dto
@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
@section Styles
{
    @Html.IncludeStyle("~/Views/Home/Index.css")
}
<div class="container">
    
</div>